<html>

  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

  </head>


<body>


    <canvas id = "canvas" ></canvas>
    <div class = "chatBox">
      <div class = "chatHeader">
        <a class="closebtn">&times;</a>
      </div>
      <div class = "userPanel" >
      	<b>Users</b>
      	<div id="users"></div>
      </div>
      <div class = "chatPanel">
      	<div id="conversation"></div>
      </div>
      <div class = "messageButton">
        <input id="data" style="width:200px;" />
        <input type="button" id="datasend" value="send" />
      </div>

      <div class = "inviteUrl">
          <label class ="invite"></label>
          <br>
          <label class ="url"></label>
      </div>
    </div>

    <div class "chatButton">
      <a class="openbtn">&times;</a>
    </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src = "frontend.js"></script>
</body>

</html>
